[Desktop Entry]
Name=Linux PredatorSense
StartupWMClass=Linux PredatorSense
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=sh -c "pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY sh -c 'cd <path_to_PredatorSense> && python3 main.py'"
Comment=Application to control fan speed for Acer Predator Helios 300
Icon=<path_to_PredatorSense>/app_icon.ico
